<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="viewport" content="user-scalable=no">
<link id="layout" href="./Content/layout.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="./scripts/res/malenames-french.js"></script>
<script type="text/javascript" src="./scripts/res/femalenames-french.js"></script>
<script type="text/javascript" src="./scripts/res/surnames-french.js"></script>
<script type="text/javascript" src="./scripts/jquery.js"></script>
<script type="text/javascript" src="./scripts/jquery-ui.js"></script>
<script type="text/javascript" src="./scripts/processing-1.4.1.min.js"></script>
<!---<script type="text/javascript" src="../scripts/jquery.mousewheel.js"</script>
<script type="text/javascript" src="../scripts/underscore.min.js"></script>
<script type="text/javascript" src="../scripts/parallel.min.js"></script>

<script type="text/javascript" src="../scripts/alt-webgl-utils.js"></script>
<script type="text/javascript" src="../scripts/webgl-debug.js"></script>
-->
<script type="text/javascript" src="./scripts/json.js"></script>
<script type="text/javascript" src="./scripts/mersenne-random.js"></script>
<script type="text/javascript" src="./scripts/primitives.js"></script>
<script type="text/javascript" src="./scripts/dyn.js"></script>
<script type="text/javascript" src="./scripts/people.js"></script>
<script type="text/javascript" src="./scripts/events.js"></script>
<script type="text/javascript" src="./scripts/io.js"></script>
<script type="text/javascript" src="./scripts/dynasty.js"></script>
<script type="text/javascript" src="./scripts/history.js"></script>
<script type="text/javascript" src="./scripts/renderer.js"></script>
<script type="text/javascript" src="./scripts/ui.js"></script>
<script type="text/javascript" src="./scripts/aStar.js"></script>
<script type="text/javascript" src="./scripts/cities.js"></script>
<script type="text/javascript" src="./scripts/familyTree.js"></script>
<script type="text/javascript" src="./scripts/game.js"></script>
<title>Dyn</title>

 <link rel="icon" type="image/png" href="http://fpalm.se/map/wireframe.png">
 <link rel="shortcut icon" type="image/png" href="http://fpalm.se/map/wireframe.png">
</head>
    <body>
        @RenderBody()
    </body></html>