    <div>@ViewBag.WorldMap.ToString();</div>
<div id="Title" class="init">DYN</div>
<div id="Loading" style="display: none;"><div id="loading">Loading<span id="loadingDots"></span><div id="progress"></div></div></div>
<div id="NewGameMenu" class="init"><div class="selectable">Start</div></div>
<!--<span id="Menu" class="window">-->
<div id="MenuHeaders" class="window" style="display: none;">
<!--
<span id="EventsHeader" menuType="events" class="menu header events">Events<span id="EventsNr" class="menu events">11</span></span>
<span id="FilterHeader" menuType="filter" class="menu header filter">Filter</span>
<span id="DynastyHeader" menuType="dynasty" class="menu header dynasty">Dynasty</span>
<span id="DateHeader" menuType="stats" class="menu header date">Year: Season</span>
<span id="TurnHeader" class="menu header turn">Next Turn</span>
-->
<span id="OptionsHeader" class="menu header options">PrintScreen</span>

</div>
<div id="MenuDisplay" class="menu display window" style="display: none;"><div>Export Game</div><div id="res">Set Tile Resolution</div><div>Reload World</div>
<div class="close">close</div>
</div>
<!--</span>-->
<!--<div id="Player" class="window"></div>-->
<div id="tileInfo" class="ui-draggable">
<div id="tileType" class="type">Grass Tile</div>
<div id="tileValue"></div>
<div id="tilePopulation"></div>
<div id="tileResources"></div>
<div id="tileActions">
 <div>Construct Factory</div>
</div>
<div class="close">close</div>
</div>
<div id="newPlayer" class="window" style="display: none;"></div>
<div id="eventViewer" class="window" style="display: none;"></div>
<div id="temp" class="hidden"></div>
<div id="FamilyTree" style="display: none;"></div>


